* {
    font-family: "Roboto";
}

html, body {
    margin: 0;
    padding: 0;
  }  

body {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1F2937;
    color: white;
}

.header {
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 16px;
}

.header-links {
    font-size: 20px;
}

#top-img {
    width: 500px;
    height: 300px;
}

img {
    border-radius: 5px;
}

.top-section {
    display: flex;
    padding: 50px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    flex-wrap: wrap;
    color: white;
}

#top-1 {
    font-size: 48px;
    font-weight: bold;
}

#top-2 {
    font-size: 18px;
    margin: 10px;
}

.button-top {
    background-color: #3882F6;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px;
    font-weight: 500;
    transition: 0.25s background-color;
}

.button-top:hover {
    cursor: pointer;
    background-color:  #3881f6b2;
    
}

.mid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.image-sets {
    display: flex;
    gap: 30px;
}

.mid-imgs {
    width: 300px;
    height: 250px;
}

[class^="img-set"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    flex-wrap: wrap;
    color: #666a74;
}

.mid-header {
    margin: 20px;
    font-size: 36px;
    font-weight: 900;
}

.quote-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

#quote-owner {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}

